$primaryColor: #009dae;
$secondaryColor: #71dfe7;

.shopCard{
    text-align: center;
    padding-bottom: .5rem;
    border-radius: 3px;
    transition: all 0.3s ease;

    &:hover{
        box-shadow: 0 2px 4px 0 rgba($secondaryColor, 0.5);
    }

    .img{
        width: 100%;
        height: 19rem;
        object-fit: contain;
    }
    .logo{
        width: 4.4rem;
        height: 4.4rem;
        border: .4rem solid #fff;
        display: inline-block;
        margin-top: -2.4rem;
        box-shadow: 0 4px 0 rgba(0, 0, 0, 0.25)
    }

    .details{
        padding: 0 .8rem;
        margin-top: .8rem;
    }
    .name{
        font-size: 1.5rem;
        font-weight: 400;
        color: #212121;
        margin-bottom: .5rem;
    }
    .type{
        font-size: 1.2rem;
        color: #9e9e9e;
    }
}